<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Your bean definitions go here -->
    <bean class = "com.spring.Student" id = "st">
    		<property name="studentId" value = "1"></property>
    		<property name="name" value = "Fayaz"></property>
    		<property name="marks" value = "35"></property>
    </bean>
    <bean class = "com.spring.Student" id = "st2">
    		<constructor-arg index = "2" value="92"></constructor-arg>
    		<constructor-arg index = "1" value="Nagesh"></constructor-arg>
    		<constructor-arg index = "0" value="52"></constructor-arg>
    </bean>
    <bean class="com.spring.Student" id="st3">
    		<constructor-arg value="3"></constructor-arg>
    		<constructor-arg value="Kishen"></constructor-arg>
    		<property name="marks" value="87"></property>
    </bean>
</beans>
