<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
        http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"> 
        <!-- bean definitions here -->

	<context:property-placeholder location="classpath:application.properties" />
    <!-- Your bean definitions go here -->
    
    <bean class = "com.spring.Student" id = "st">
    		<property name="studentId" value = "1"></property>
    		<property name="name" value = "Fayaz"></property>
    		<property name="marks" value = "35"></property>
    </bean>
    <bean class = "com.spring.Student" id = "st2">
    		<constructor-arg index = "2" value="92"></constructor-arg>
    		<constructor-arg index = "1" value="Nagesh"></constructor-arg>
    		<constructor-arg index = "0" value="52"></constructor-arg>
    </bean>
    <bean class="com.spring.Student" id="st3">
    		<constructor-arg value="3"></constructor-arg>
    		<constructor-arg value="Kishen"></constructor-arg>
    		<property name="marks" value="87"></property>
    </bean>
    <bean class="com.spring.Employee" id = "emp">
    <property name="empId" value="1"></property>
    <property name="name" value="Fayaz"></property>
    <property name="salary" value="20000"></property>
    <property name="skills">
    		<set>
    			<value>Java</value>
    			<value>SQL</value>
    			<value>Hibernate</value>
    			<value>JDBC</value>
    			<value>Spring</value>
    			<value>Spring</value>
    		</set>
    </property>
    <property name="education">
    	<map>
    		<entry key="SSC" value="90"></entry>
    		<entry key="Inter" value="97"></entry>
    		<entry key="B.tech" value="65"></entry>
    	</map>
    </property>
    </bean>
    
    <!-- <bean class="com.spring.User" id="user" autowire="byName">
    	<property name="userId" value="123"></property>
    	<property name="name" value="Fayaz"></property>	
    </bean>  -->
    
    <bean class="com.spring.User" id="user" autowire="constructor">
    	<constructor-arg value="123"></constructor-arg>
    	<constructor-arg value="Fayaz"></constructor-arg>
    	<constructor-arg ref="address2"></constructor-arg>
    	<constructor-arg ref="department"></constructor-arg>
    </bean>
    <!--  <bean class="com.spring.Address" id="address1">
    	<property name="street" value="Gachibowli"></property>
    	<property name="pincode" value="12345"></property>
    	<property name="country" value="India"></property>
    </bean> -->
    
    <bean class="com.spring.Address" id="address2">
    	<property name="street" value="SomajiGuda"></property>
    	<property name="pincode" value="500000"></property>
    	<property name="country" value="India"></property>
    </bean>
    
    <bean class="com.spring.Department" id="department">
    	<property name="deptId" value="999"></property>
    	<property name="deptName" value="CSE"></property>
    </bean>
    <bean class ="com.spring.Product" id="product">
    	<property name="productId" value="${productId}"></property>
    	<property name="productName" value="${name}"></property>
    	<property name="price" value="${price}"></property>
    </bean>
</beans>
